<div class="grid grid-cols-5 justify-items-center pt-5">
  <div *ngFor="let i of PokemonData; index as n" class="border-2 border-black m-1 flex flex-col items-center text-white rounded bg-blue-900 hover:bg-blue-700 transition-all ease-in duration-100">
    <p>{{i.name}}</p>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{n + 1}}.png">
  </div>
</div>

