<div class="flex flex-row bg-gradient-to-r from-blue-900 to-blue-600 items-center p-5">
  <h4 class="text-3xl font-bold text-white">ATJS Project</h4>
  <div class="flex self-center flex-row m-auto w-3/4 justify-around">
    <a routerLink="home" [routerLinkActive]="['text-green-500', 'bg-gray-800']" class="text-white hover:bg-gray-800 hover:text-green-500 px-3 py-2 rounded font-medium">Home</a>
    <a routerLink="calculator" [routerLinkActive]="['text-green-500', 'bg-gray-800']" class="text-white hover:bg-gray-800 hover:text-green-500 px-3 py-2 rounded font-medium">Calculator</a>
    <a routerLink="pokedex" [routerLinkActive]="['text-green-500', 'bg-gray-800']" class="text-white hover:bg-gray-800 hover:text-green-500 px-3 py-2 rounded font-medium">Pokedex</a>
    <a routerLink="cards" [routerLinkActive]="['text-green-500', 'bg-gray-800']" class="text-white hover:bg-gray-800 hover:text-green-500 px-3 py-2 rounded font-medium">Cards</a>
  </div>
</div>
