<div class="w-full h-screen flex flex-col items-center justify-center">
  <div class="w-auto border-2 border-black flex flex-col items-center justify-center p-5 gap-5 rounded">
    <div class="w-64 bg-gray-800 h-12 p-3 rounded border-black border">
      <p class="text-white">{{currentOperation}}</p>
    </div>
    <div class="w-64 bg-gray-800 h-12 p-3 rounded border-black border">
      <p class="text-white">{{currentNumber}}</p>
    </div>
    <div class="grid grid-cols-3 gap-10">
      <button class="bg-gray-900 p-8 hover:bg-gray-800 transition-all ease-in duration-100 rounded text-white" *ngFor="let i of NumbersChoices" (click)="choseNumber(i)">{{i}}</button>
    </div>
    <div class="flex flex-row w-full justify-center items-center gap-2">
      <button class="bg-gray-900 p-5 hover:bg-gray-800 transition-all ease-in duration-100 rounded text-white" *ngFor="let i of OperationsChoices" (click)="doOperation(i)">{{i}}</button>
    </div>
  </div>
</div>

