<div class="flex flex-col text-center gap-16 h-full justify-center py-10" *ngIf="gameInitialized === false">
  <h3 class="text-3xl text-white">Speed Game</h3>
  <p class="text-base text-white">Press Space When The Two Cards Drawn Are Identical to Get Points<br>You Have 5 Lives</p>
  <p class="text-base text-white">High Score : {{highScore}}</p>
  <div class="flex flex-col gap-5">
    <p class="text-base text-white">Choose Difficulty</p>
    <div class="flex flex-row gap-10 justify-center">
      <button (click)="gameInit(3000)" class="bg-gray-900 hover:bg-gray-800 px-8 py-4 rounded text-white">Easy</button>
      <button (click)="gameInit(2000)" class="bg-gray-900 hover:bg-gray-800 px-8 py-4 rounded text-white">Medium</button>
      <button (click)="gameInit(1000)" class="bg-gray-900 hover:bg-gray-800 px-8 py-4 rounded text-white">Hard</button>
      <button (click)="gameInit(500)" class="bg-red-700 hover:bg-red-500 px-8 py-4 rounded text-white">Ultimate</button>
    </div>
  </div>

</div>
<div *ngIf="gameInitialized === true && gameOver === false" class="h-full flex flex-col justify-center items-center">
  <div *ngIf="gameStarted === true" class="w-6/12 text-right flex flex-col gap-10 p-5">
    <div class="flex flex-row text-white justify-between">
      <button (click)="changeDifficulty()" class="bg-gray-900 hover:bg-gray-800 px-8 py-4 rounded">Go Back To Main Menu</button>
      <div>
        <p>Score: {{currentScore}}</p>
        <p>Fails: {{failNumber}}/5</p>
      </div>
    </div>
    <div class="flex flex-col gap-5 text-center">
      <div class="bg-gray-800 p-5 w-full rounded h-80 justify-center flex flex-row items-center gap-12">
        <div>
          <img alt="card" cdkDrag class="max-h-36 max-w-36 block" src="{{firstCardSelected.image}}">
        </div>
        <div>
          <img alt="card" cdkDrag class="max-h-36 max-w-36 block" src="{{secondCardSelected.image}}">
        </div>
      </div>
      <p class="text-white">*Note: You Can Move The Cards Around By Dragging It</p>
    </div>

  </div>
</div>

<p *ngIf="gameInitialized === true && gameStarted === false" class="fixed left-2/4 top-1/3 text-white text-9xl transform -translate-x-1/2 translate-y-1/2">{{countdownToGame}}</p>

<div *ngIf="gameOver === true" class="flex flex-col h-96 justify-center text-center gap-10 text-white">
  <p class="text-5xl">Game Over</p>
  <p>Score: {{currentScore}}</p>
  <p>Your Highscore: {{highScore}}</p>
  <div class="flex flex-row gap-5 justify-center">
    <button (click)="startAgain()" class="bg-gray-900 hover:bg-gray-800 px-8 py-4 rounded">Start Again</button>
    <button (click)="changeDifficulty()" class="bg-gray-900 hover:bg-gray-800 px-8 py-4 rounded">Change Difficulty</button>
  </div>
</div>
